@model ContactMessage
@{
    ViewData["Title"] = "Георгий_контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="central-container-self">
    <h3 class="page-title">КОНТАКТЫ</h3>
    <div class="contact-item">
        <div class="contact-title">Телефон:</div>
        <div class="contact-value">+7-961-491-23-21</div>
    </div>
    <div class="contact-item">
        <div class="contact-title">EMail:</div>
        <div class="contact-value">goxa87@rambler.ru</div>
    </div>
    <div class="contact-item">
        <div class="contact-title">WhatsAPP:</div>
        <div class="contact-value">Есть</div>
    </div>
    <div class="contact-item">
        <div class="contact-title">Telegram:</div>
        <div class="contact-value">@@Georgy_Milk</div>
    </div>
    <br><br>
    <h3 class="page-title">Или отправьте сообщение здесь</h3>

    <form method="post" asp-action="Index" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly"></div>

        <label asp-for="From" class="login-label"></label><br>
        <span asp-validation-for="From"></span>
        <input asp-for="From" class="form-input-text" type="text" /><br>

        <label asp-for="ContactInfo" class="login-label"></label><br>
        <input asp-for="ContactInfo" class="form-input-text" type="text" /><br>

        <label asp-for="Body" class="login-label"></label><br>
        <span asp-validation-for="Body"></span>
        <textarea asp-for="Body" class="form-input-text form-input-textarea"></textarea><br><br>

        <input class="work-comment-add-submit" type="submit" value="ОТПРАВИТЬ" />
    </form>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}