
@{
    ViewData["Title"] = "Чатик Георгия";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3  class="page-title">ЧАТ</h3>

<input type="hidden" id="userName" value="@ViewBag.Pseudonim" />
<label class="login-label">Ваше сообщение @ViewBag.Pseudonim:</label><br><br>
<input class="form-input-text" id="messageInput" type="text" /><br><br>
<input class="form-submit short-button" type="button" id="sendBtn" value="Отправить" />
<br><br>


<div class="about-hr"></div>
<div id="chatroom"></div>


<script src="~/js/SignalR/dist/browser/signalr.min.js"></script>
<script src="~/js/chat.js"></script>

