@{
    ViewData["Title"] = "Home Page";
}

    <div class="about-container">
        <div class="about-block">
            <div class="about-img">
                <img src="~/img/me1.jpg">
            </div>
            <div class="about-inner-block">
                <h2 class="about-h2">Петров Георгий Николаевич</h2>
                <p class="about-p">Доброго времени суток, друзья!</p>
                <p class="about-p">Вы находитесь на моем личном сайте, который создан как визитка, портфолио, болталка и просто блог. </p>
                <p class="about-p">Дата рождения: 10.11.1987г.</p>
                <p class="about-p">Нахожусь: РФ, Ставропольский край, Грачевский район, с. Спицевка</p>
                <a asp-action="Index" asp-controller="Contacts"><p>Контакты</p></a>
            </div>
        </div>

        <h2 class="about-h2">РАЗРАБОТЧИК  C#</h2>
        <p class="about-p">
            Образование: Северо-Кавказский Государственный Технический Университет<br>Специальность: Прикладная информатика в экономике<br>Год выпуска: 2010<br>
            Специалист.
        </p>
        <p class="about-p">Специальность "Разработчик C# с 0 до PRO" online-университет SKILLBOX - 2020г.</p>
        <div class="about-hr"></div>
        <h3 class="about-h3">Навыки:</h3>
        <p class="about-p">

            <ul class="about-ul">
                <li class="about-li"><span>ООП</span></li>
                <li class="about-li"><span>ASP.Net Core</span></li>
                <li class="about-li"><span>ADO.Net</span></li>
                <li class="about-li"><span>EntityFramework</span></li>
                <li class="about-li"><span>LONQ</span></li>
                <li class="about-li"><span>JSON API</span></li>
                <li class="about-li"><span>Паттерны проектирования</span></li>
                <li class="about-li"><span>Многопоточность</span></li>
                <li class="about-li"><span>SOLID</span></li>
                <li class="about-li"><span>Git</span></li>
            </ul>
            <div class="about-hr"></div>
            <h3 class="about-h3">Личные качества:</h3>
            <ul class="about-ul">

                <li class="about-li"><span>Самостоятельность</span></li>
                <li class="about-li"><span>Ответственность</span></li>
                <li class="about-li"><span>Быстрая обучаемость</span></li>
                <li class="about-li"><span>Внимательность</span></li>
                <li class="about-li"><span>Деловое общение</span></li>
            </ul>

        </p>
        <div class="about-hr"></div>
        <p class="about-p">Готов выполнить тестовое задание;)</p>
        <a asp-action="Index" asp-controller="Works"><p>Портфолио</p></a> 
        <h3 class="about-h3">Опыт работы</h3>
        <p class="about-p">2014-настоящее время <br> ИП в сфере производства и продажи продуктов пртания </p>
        <p class="about-p">2013-2014 <br> руководитель отдела продаж</p>
        <p class="about-p">2010-2013 <br> корпоративные продажи</p>
        <p class="about-p"></p>


    </div>
