<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MySite1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="global">
        <div class="global-left-column">
            <div class="static-menu">
                <div class="static-menu-img">
                    <img src="~/img/me.jpg" />
                    <nav>
                        <ul>
                            <li class="menu-li">
                                <a asp-action="Index" asp-controller="Home">
                                    <div class="menu-item">
                                        <img src="~/img/about.png" />
                                        <h3>Обо мне</h3>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-li">
                                <a asp-action="Index" asp-controller="Works">
                                    <div class="menu-item">
                                        <img src="~/img/works.png" />
                                        <h3>Работы</h3>
                                    </div></a>
                            </li>
                            <li class="menu-li">
                                <a asp-action="Index" asp-controller="Messages">
                                    <div class="menu-item">
                                        <img src="~/img/messages.png" />
                                        <h3>Чат</h3>
                                    </div></a>
                            </li>
                            
                            <li class="menu-li">
                                <a asp-action="Index" asp-controller="Contacts">
                                    <div class="menu-item">
                                        <img src="~/img/contacts.png" />
                                        <h3>Контакты</h3>
                                    </div>
                                </a>
                            </li>
                                
                            <li class="menu-li">
                                <a asp-action="Index" asp-controller="Blog">
                                    <div class="menu-item">
                                        <img src="~/img/blog.png" />
                                        <h3>Блог</h3>
                                    </div>
                                </a>
                            </li>                                
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="global-right-column">
            <header>
                <div></div>
                <div class="upper-bar">
                    <div class="bar-account">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div>Вы вошли как: </div>
                            <div>@User.Identity.Name</div>
                            <a asp-action="Logout" asp-controller="Account"><div>выйти...</div></a>
                        }
                        else
                        {
                            <a asp-action="Login" asp-controller="Account"><div>Войти</div></a>
                            <a asp-action="Registration" asp-controller="Account"><div>Регистрация</div></a>
                        }
                        <a asp-action="index" asp-controller="Admin"><div>Администрация</div></a>
                    </div>
                    <div class="bar-title">
                        <h1 class="light-large-text">Георгий Петров</h1>
                        <h3 class="light-medium-text">+7-961-491-23-21</h3>
                    </div>

                </div>
            </header>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
           

        </div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
